# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.env*/
.venv/
virtualenv/

# ===============================
# IDE / Editor
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# Logs & Debug
# ===============================
*.log

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.whl

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Testing / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Git
# ===============================
*.orig
